a:hover,a:active,a:focus,a:visited{
  text-decoration: none;
}
.content-wrap{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media(min-width:760px){
  .content-wrap{
    flex-direction: row;
    flex-grow: 1;
  }
}
.nav-header{
  height: 80px;
  background-color:#00BCD4;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.nav-header h3,p{
  margin: 0;
}
.nav-header h3{font-weight: 600;color: #ffffff;}
.nav-header p{
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.2);
  padding:1px 2px;
  border-radius: 5px;
  color: #ffffff;
}
.nav-header span{
  font-size: 18px;
  color: #ffffff;
}
.nav-header span:nth-child(3){
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4px;
  border-radius: 5px;
}
.nav-footer{
  height: 80px;
  background-color:#00BCD4;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content:space-around;
  font-size: 18px;
  text-align: center;
}
.nav-footer a{color: #fff;flex-grow: 1;border-right:1px solid rgba(0, 0, 0, 0.3);cursor: pointer;}
.nav-footer a:last-child{border: none;}
.nav-footer a:hover{text-decoration: none;}

.content-main{
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
}
.left-nav{
  display: flex;
  flex-direction: column;
  width: 260px;
  background-color: #00BCD4;
}
.left-nav a{ font-size: 20px; display: block;color: #fff;padding: 10px; padding-left: 55px;}
.left-nav a:hover{background-color: rgba(0, 0, 0, 0.3);;text-decoration: none;}
.left-nav h3{text-align: center;font-weight: 600;color: #fff;font-size: 30px}

.home-container{
  width: 100%;
  display: flex;
  background-image: url(./images/4.jpg);
  background-size: cover;
  background-size:100% 100%;

}
.home-cover{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}
.home-cover p{font-weight: 600;margin-bottom: 10px;}
.home-item{
  color:#fff;
  text-align: center;
  margin: 0 auto;
}
.home-item h2{font-size: 33px;font-weight: 600;}
.home-btn{
  border: none;
  border-radius: 20px;
  background-color: #ff4081;
  padding:8px 20px;
  font-size: 16px;
}
.home-btn:hover{
  background-color: #00bcd4;
}
